/* theme dark */
:root,
[data-theme="dark"],
[data-theme="invert"],
[data-theme="light"] [data-theme="invert"] {
  --theme--background: #121212;
  --theme--text: #ffffff;
  --theme--overlay-10: rgba(255, 255, 255, 0.1);
  --theme--overlay-20: rgba(255, 255, 255, 0.2);
  --theme--overlay-30: rgba(255, 255, 255, 0.3);
  --theme--brand-1a: #FF5722; /* Turuncu ana renk */
  --theme--brand-1b: #FF8A65; /* Turuncu açık ton */
  --theme--brand-2a: #2196F3; /* Mavi vurgu rengi */
  --theme--brand-2b: #64B5F6; /* Mavi açık ton */
  --theme--brand-3a: #4CAF50; /* Yeşil vurgu rengi */
  --theme--brand-3b: #81C784; /* Yeşil açık ton */
  --theme--brand-4a: #9C27B0; /* Mor vurgu rengi */
  --theme--brand-4b: #BA68C8; /* Mor açık ton */
}

[data-theme="light"],
[data-theme="dark"] [data-theme="invert"] {
  --theme--background: #f5f5f5;
  --theme--text: #212121;
  --theme--overlay-10: rgba(0, 0, 0, 0.1);
  --theme--overlay-20: rgba(0, 0, 0, 0.2);
  --theme--overlay-30: rgba(0, 0, 0, 0.3);
  --theme--brand-1a: #FF8A65; /* Turuncu açık ton */
  --theme--brand-1b: #FF5722; /* Turuncu ana renk */
  --theme--brand-2a: #64B5F6; /* Mavi açık ton */
  --theme--brand-2b: #2196F3; /* Mavi vurgu rengi */
  --theme--brand-3a: #81C784; /* Yeşil açık ton */
  --theme--brand-3b: #4CAF50; /* Yeşil vurgu rengi */
  --theme--brand-4a: #BA68C8; /* Mor açık ton */
  --theme--brand-4b: #9C27B0; /* Mor vurgu rengi */
}

/* Prevent changes for 'no-change' */
[data-theme="unset"] {
  /* Do not apply any theme-specific changes */
  all: unset;
}

/* Apply colors */
:is(c, :where([data-theme]:not([data-theme="inherit"])):not([data-theme="no-change"])) {
  background-color: var(--theme--background);
  color: var(--theme--text);
}